.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right,#c5cab0, #c1cf9a);
    min-height: 40px;
    border-radius: 15px 15px 0 0;
    align-items: center;
    padding: 0 10px;

    .header-title-wrap{
        height: 100%;
        .header-title{
            font-size: 400;
        }
    }

    .header-btn-wrap{
        height: 100%;
        .header-btn{
            span{
                color: #5f7e0a;
            }
        }
    }
}