.container{
    width: 60%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px rgba(226, 226, 226, 0.123);
    outline: none;

    .menu-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-image: linear-gradient(to right,#c5cab0, #c1cf9a);
        height: 40px;
        border-radius: 15px 15px 0 0;
        align-items: center;
        padding: 0 10px;

        .memu-title-wrap{
            width: 80%;
            .menu-title{
                font-size: 400;
            }
        }

        .menu-toggle{
            width: 20%;
            text-align: right;

            button{
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
                font-size: 25px;

                span{
                    color: #5f7e0a;
                }
            }
        }
    }

    .dropdown-wrap{
        .dropdown-content{
            display: none;

            .content-wrap{
                display: flex;
                flex-direction: column;

                .content{
                    display: flex;
                    flex-direction: row;

                    .image-wrap{
                       
                        .image{
                            object-fit: cover;
                            width: 300px;
                            height: 200px;
                        }
                    }

                    .content-item{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 0 10px; 
                    }
                }

                .footer{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0 10px;
                    border-radius: 0 0 10px 10px;
                    border: 1px solid #dee6c4; 
                    min-height: 35px;

                    button{
                        background: none;
                        color: inherit;
                        border: none;
                        padding: 0;
                        font: inherit;
                        cursor: pointer;
                        outline: inherit;

                        a{
                            color: #5f7e0a;
                        }

                        span{
                            color: #5f7e0a;
                            padding: 0 5px;
                        }

                        .footer-text{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .active{
            display: block;
        }
    }
}

@media(max-width: 985px){
    .container .dropdown-wrap .dropdown-content .content-wrap .content {
        display: flex;
        flex-direction: column;

        .image-wrap{
            .image{
                width: 100%;
            }
        }

        .content-item{
            padding: 10px;
            overflow: hidden;
            text-align: left;
        }
    }
}